@import 'spain1';

.spain2 {
    background-image: url(../images/spain2_background.png);
}

.spain-info_2 {
    align-self: flex-end;
}

@media screen and (max-width: $breakpointA) {
    .spain-info_2 {
        align-self: center;
    }
}