$font-main: "Josefin Sans", sans-serif;
$font-detail: "Aleo", serif;

$color-main: #5474FD;
$color-main-shade: #496BFE;
$color-dark:#232323;
$color-grey:#333333;
$color-hover-light: #e3a68a ;
$color-hover: #be6942;
$color-hover-shade: #964520;
$color-dark-text: #999999;

$body-width: 1773px;