*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition: none;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  color: #ffffff;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

html {
  background-color: #ffffff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1773px;
  width: 100%;
  height: auto;
}

body > * {
  margin-top: -1px;
}

h1, h2, h5 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  letter-spacing: 2.4px;
}

h3 {
  font-size: 36px;
  font-family: "Aleo", serif;
}

h5 {
  font-size: 24px;
  letter-spacing: 3.6px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #e3a68a;
}

button {
  max-width: 228px;
  width: 100%;
  min-height: 63px;
  background: linear-gradient(45deg, #496BFE 38%, #5474FD 20%);
  border: none;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
button:hover {
  background: linear-gradient(45deg, #964520 38%, #be6942 20%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 821px;
  background-image: url(../images/header_background.png);
  font-size: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 653px;
  width: 100%;
  min-height: 341px;
  text-align: center;
}

h1 {
  font-size: 48px;
  letter-spacing: 4.8px;
}

.header > p {
  margin-top: -30px;
  font-size: 22px;
  letter-spacing: 6.8px;
}

:-moz-placeholder-shown {
  color: #999999;
  font-size: 14px;
  letter-spacing: 2.8px;
  text-align: center;
}

:-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  letter-spacing: 2.8px;
  text-align: center;
}

:placeholder-shown, input {
  color: #999999;
  font-size: 14px;
  letter-spacing: 2.8px;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 653px;
  width: 100%;
  min-height: 64px;
  background-color: white;
}
form input {
  max-width: 503px;
  width: 100%;
  min-height: 64px;
  border: none;
  font-size: 20px;
}
form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
  margin-right: 2px;
  max-width: 150px;
  width: 100%;
  min-height: 60px;
  background: #5474FD;
}
form button p {
  padding-left: 20px;
  font-size: 14px;
  font-family: "Aleo", serif;
  letter-spacing: 1.4px;
}
form button i {
  font-size: 24px;
  padding-left: 10px;
}
form button:hover, form button :hover {
  background: #be6942;
}

.header > div {
  margin-top: 40px;
  letter-spacing: 2.8px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
    padding: 20px;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
  form button {
    border: 4px solid white;
    margin-top: -1px;
  }
  input {
    height: 64px;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 84px;
  background-color: #5474FD;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 525px;
  width: 100%;
  height: auto;
}

ul li:first-child {
  display: none;
  font-size: 80px;
  line-height: 0;
}

li {
  list-style: none;
}
li a {
  font-size: 14px;
  font-family: "Aleo", serif;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0 20px;
  }
  ul {
    max-width: 799px;
    min-height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul li:not(:first-child) {
    display: none;
  }
  ul li.nav-icon {
    display: block;
    padding: 0 20px;
  }
}
@media screen and (max-width: 800px) {
  ul.responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    max-width: 800;
    width: 100%;
  }
  ul.responsive li:not(:first-child) {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #be6942;
    font-size: 40px;
    line-height: 120%;
  }
}
.booking-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1773px;
  width: 100%;
  height: 340px;
  background-color: #333333;
  background-position: 50% 25%;
  background-image: url(../images/Arches.png);
  background-repeat: no-repeat;
}
.booking-steps > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1046px;
  width: 100%;
  min-height: 176px;
}
.booking-steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 353px;
  width: 100%;
  min-height: 163px;
  text-align: center;
}
.booking-steps__item h3 {
  font-size: 36px;
  font-family: "Aleo", serif;
}
.booking-steps__item i {
  max-width: 300px;
  width: 100%;
  font-size: 90px;
  background-color: #333333;
  padding: 5px 0 25px 0;
}
.booking-steps__item .fa-magnifying-glass {
  color: #5474FD;
}
.booking-steps__item .fa-circle-check {
  color: #FF6363;
}
.booking-steps__item .fa-thumbs-up {
  color: #00A2FF;
}

@media screen and (max-width: 800px) {
  .booking-steps__item {
    max-width: 200px;
  }
  .booking-steps__item h3 {
    min-height: 80px;
    line-height: 40px;
  }
}
@media screen and (max-width: 650px) {
  .booking-steps {
    height: 100px;
    background-position: 50% 0;
  }
  .booking-steps__item {
    display: none;
  }
}
.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 685px;
  background-image: url(../images/explore_background.png);
}
.explore > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1112px;
  width: 100%;
  min-height: 450px;
}
.explore__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 570px;
  width: 100%;
  min-height: 400px;
  padding: 30px 20px 0 20px;
}
.explore__text h3 {
  padding-bottom: 30px;
}
.explore__text p {
  letter-spacing: 1.6px;
}
.explore__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 440px;
  width: 100%;
  min-height: 450px;
}
.explore__img img {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.explore__img img:last-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media screen and (max-width: 650px) {
  .explore {
    background-repeat: no-repeat;
    margin-bottom: -170px;
  }
  .explore > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .explore__text > a, .explore__text > h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .explore__img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .explore__img img:last-child {
    display: none;
  }
}
.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 700px;
}

.spain1 {
  background-image: url(../images/spain1_background.png);
}

.book > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
}

.spain-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  max-width: 543px;
  width: 100%;
  height: 374px;
  background: rgba(35, 35, 35, 0.9019607843);
}

h6 {
  font-size: 20px;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .book > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.spain2 {
  background-image: url(../images/spain2_background.png);
}

.spain-info_2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 800px) {
  .spain-info_2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 700px;
}

.spain1 {
  background-image: url(../images/spain1_background.png);
}

.book > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
}

.spain-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  max-width: 543px;
  width: 100%;
  height: 374px;
  background: rgba(35, 35, 35, 0.9019607843);
}

h6 {
  font-size: 20px;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .book > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.tourist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 731px;
  background-image: url(../images/tourist_background.png);
}
.tourist > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  width: 100%;
  min-height: 404px;
}
.tourist__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  width: 100%;
  min-height: 287px;
  background-color: #333333;
  margin: 0 2% 0 2%;
}
.tourist__text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2% 0 6%;
}
.tourist__text h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.tourist__text i {
  color: #5474FD;
  font-size: 40px;
}

@media screen and (max-width: 800px) {
  .tourist h3 {
    padding: 30px;
  }
  .tourist__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  min-height: 271px;
  background-color: #232323;
}
footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 196px;
  width: 100%;
  min-height: 165px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 196px;
  height: 96px;
}
.footer__content p {
  letter-spacing: 1.6px;
}
.footer__content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: inherit;
}
.footer__content .fa-linkedin-in {
  color: #5474FD;
}

@media screen and (max-width: 450px) {
  footer {
    height: 150px;
  }
}